<form class="form" role="form" autocomplete="off" th:if="${motoForm == false or motoForm == null}" th:object="${userForm}" th:action="${editMode} ?@{'/editUser'} :@{'/userFormFull'}" method="post">
	<!--Es necesario para poder pasar la validacion del Model-->
	<input class="form-control" type=hidden th:field="${userForm.id}"  th:if="${editMode}">

	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">DNI</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field=" ${userForm.dni}" >
			<div class="alert-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">DNI ERROR</div>
			</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Nombre</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field=" ${userForm.nombre}" >
			<div class="alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Nombre ERROR</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Direccion</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field=" ${userForm.direccion}" >
			<div class="alert-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">Direccion ERROR</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Ciudad</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field=" ${userForm.ciudad}" >
			<div class="alert-danger" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}">Ciudad ERROR</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Telefono</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field=" ${userForm.telefono}" >
			<div class="alert-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Telefono ERROR</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">C.P.</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field=" ${userForm.cp}" >
			<div class="alert-danger" th:if="${#fields.hasErrors('cp')}" th:errors="*{cp}">C.P. ERROR</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Email</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field=" ${userForm.email}" >
			<div class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email ERROR</div>
		</div>
	</div>
	<div class="form-group row" th:if="${editMode != true}">
		<label class="col-lg-3 col-form-label form-control-label">Password</label>
		<div class="col-lg-9">
			<input class="form-control" type="password" th:field=" ${userForm.password}">
			<div class="alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password ERROR</div>
		</div>
	</div>
	<div class="form-group row" th:if="${editMode != true}">
		<label class="col-lg-3 col-form-label form-control-label">Repetir Password</label>
		<div class="col-lg-9">
			<input class="form-control" type="password" th:field=" ${userForm.confirmPassword}">
			<div class="alert-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">PasswordConfirm ERROR</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Deseo recoger las pieces sustituidas.</label>
		<div class="col-lg-9">
			<input type="checkbox" checked class="form-control" th:field=" ${userForm.recogidaPiezas}" >
		</div>
		<label class="col-lg-3 col-form-label form-control-label">Acepto <a>Ley de proteccion de datos.</a></label>
		<div class="col-lg-9">
			<input type="checkbox" checked class="form-control" th:field=" ${userForm.RGPD}" >
		</div>
	</div>
	<div class="form-group row">
		<div class="col-lg-12 text-center">
			<input type="submit" name="action" value="cancel" class="btn btn-secondary" th:href="@{'/cancel'}" th:value="Cancelar">
			<input type="submit" name="action" value="${editMode} ?editUser :userFormFull" class="btn btn-primary"  th:href="${editMode} ?@{'/editUser'} :@{'/userFormFull'}"
			 th:value="${editMode} ?'Guardar cambios' :'Crear usuario'">
		</div>
	</div>
	<div class="alert alert-danger text-center" th:if="${FormErrorMessage}" th:text="${FormErrorMessage}">ERROR</div>
</form>
